
.title {
    justify-content: center;
    display: flex;
   align-items: center;
        font-size: 45px;
        text-align: center;
        margin: 0 auto;
        color: #53545af5;
}
.title-two {
    justify-content: center;
    display: flex;
   align-items: center;
        font-size: 35px;
        text-align: center;
        margin: 0 auto;
        color: #53545af5;
        margin-top: 20px; 
}
.item {
    text-align: left;
    padding-left: 550px;
       
}